<% if @manufacturer.errors.any? %>
  <ul>
    <% @manufacturer.errors.full_messages.each do |msg| %>
      <li>That <%= msg.downcase %></li>
    <% end %>
  </ul>
<% end %>


<h2>Add A New Manufacturer!</h2>

<%= form_for @manufacturer do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>
  <div>
    <%= f.submit 'Add Manufacturer' %>
  </div>
<% end %>
